@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700&display=swap');
body {
    font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
    max-width: 500px;
    margin: 0 auto;
    background: #f2f2f2;
    display: grid;
    min-height: 100%;
    grid-template-rows: auto 1fr auto
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

button {
    background-color: transparent;
    border: none;
    margin: .5em;
}

.logo-text {
    font-weight: bold;
    justify-self: center;
}

.material-icons {
    color: black;
    font-size: 2.125em;
}

.main {
    position: relative;
}

.main-header {
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.main-header .material-icons {
    color: white;
}

.btn.menu {
    justify-self: start;
}

.btn.shopping_cart {
    justify-self: end;
    color: darksalmon;
}

.discount-msg {
    grid-column: 1/5;
    background-color: white;
    width: 100%;
    color: black;
    text-align: center;
    padding: .25em;
}

footer {
    width: 100%;
    background: black;
    color: white;
    padding: 1em;
}

.main > header {
    background-color: black;
    padding: 1em .5em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header > form {
    margin: 0 1em;
}

input[name="search"] {
    width: 100%;
    padding: .5em 1em .5em 2.5em;
    border-radius: 3px;
    border: none;
}

.form-group {
    position: relative;
}

.form-group > .material-icons {
    position: absolute;
    font-size: 1.5em;
    padding: 0 .25em;
    top: .375rem;
}

section.filter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .5em;
    margin: 1em 1.5em;
}

.filter > .form-group {
    background-color: #ffffff;
    padding: .5em;
    border-radius: 3px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #e6e6e6
}

.filter > .form-group > label {
    display: block;
    font-weight: bold;
    /* text-transform: uppercase; */
    font-size: .75em;

}

.filter > .form-group > select {
    display: block;
    width: 100%;
    background: none;
    border: none;
}

.products > p {
    margin: 1em 1.5em -1em 1.5em;
}

.card {
    background: #ffffff;
    padding: 1em;
    margin: 1.5em;
    border-radius: 3px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #e6e6e6;
    max-height: 20em;
}

.product-img {
    margin: 1em auto;
}

.price {
    font-weight: bold;
    color: darksalmon;
}

.card-header {
    display: grid;
    grid-template-columns: 1fr auto;
}

.product-name > h2 {
    font-weight: bold;
}

.product-name > h3 {
    font-style: italic;
}

.card-body {
    display: grid;
    grid-template-columns: 1fr 1fr;   
    justify-items: center;
    align-items: self-start;
}

.btn.add {
    background: black;
    color: white;
    width: 100%;
    margin: 1em 0 0 0;
    padding: .5em;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
}

.btn.add.out {
    background: red;
    font-style: italic;
}

.card-body .form-group {
    margin: 1em;
    text-align: center;
}

.card-body .form-group p {
    margin: 1.5em;
    font-size: .75em;
    font-weight: bold;
}

.card-body .form-group label {
    border: 2px solid black;
    margin: .5em;
    padding: .5em;
    border-radius: 50%;
    position: relative;
    font-size: .875em;
}

.card-body .form-group input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.card-body .form-group input[type="radio"]:checked + label {
    background: black;
    color: white;
}

.rating {
    text-align: center;
}

.rating .material-icons {
    color: darkgoldenrod;
    font-size: 1.5em;
}

.reviews {
    text-align: center;
    text-decoration: underline;
    font-style: italic;
}

.cart.wrapper {
    background: rgba(0, 0, 0, .8);
    position: absolute;
    top: 0;
    min-height: 100%;
    width: 100%;
    display: none;
}

.wrapper .content {
    position: sticky;
    top: 5rem;
    background: #f2f2f2;
    max-height: 80vh;
    width: 90%;
    margin: 0 auto;
    padding: 1em;
    border-radius: 3px;
    overflow: scroll;
}


.card.product-invoice {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background: #fff;
    padding: 1em;
    margin: .5em 0;
}

.product-info {
    text-transform: uppercase;
}

.product-info > p {
    font-size: .825em;
    font-weight: bold;
}

.product-info > small {
    font-size: .75em;
    font-style: italic;
}

.product-quantity {
    text-align: center;
}

.product-quantity > .material-icons {
    font-size: 1.5em;
    background: black;
    color: white;
    border-radius: 50%;
}

.product-price {
    font-weight: bold;
    font-size: 2em;
}

.product-quantity > .quantity {
    font-size: 1.5em;
    padding: 0 .25em;
}

.cart .content > h2 {
    margin: .5em 0;
}

.cart.invoice {
    background: black;
    color: white;
    /* padding: 1em; */
    border-radius: 3px;
    font-size: 1.2em;
}

#invoice {
    padding: 1em;
}

#invoice:empty {
    padding: 0;
}

.cart.invoice ul {
    margin: .5em 0;
}
.cart.invoice ul > li {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cart.invoice ul > li > span {
    justify-self: start;
}

.cart.invoice ul > li > strong {
    justify-self: end;
}

.btn.checkout {
    background: white;
    padding: .5em;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    border-radius: 3px;
}

.cart.wrapper.show {
    display: block;
}