@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,700&display=swap');


body {
    font-family: 'Nunito', Verdana, Geneva, Tahoma, sans-serif;
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid black;
    height: 100vh;
}

h1 {
    font-size: 2em;
}

button {
    background-color: transparent;
    border: none;
}

.logo-text {
    font-weight: bold;
    justify-self: center;
}

.material-icons {
    color: white;
    font-size: 2.125em;
}

.main-header {
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

button {
    margin: .5em;
}

.btn.menu {
    justify-self: start;
}

.btn.shopping_cart {
    justify-self: end;
}

.discount-msg {
    grid-column: 1/5;
    background-color: white;
    width: 100%;
    color: black;
    text-align: center;
    padding: .25em;
    display: grid;
    grid-template-columns: 1fr 2em;
    align-items: center;
}

.discount-msg > span {
    color: black;
    font-size: 1em;
}